
.bg-list1{
    background-image: url("/Assets AR ART/AR_ART_images/bg-list1.png");
}
.bg-list2{
    background-image: url("/Assets AR ART/AR_ART_images/bg-list2.png");
}
.bg-list3{
    background-image: url("/Assets AR ART/AR_ART_images/bg-list3.png");
}
.bg-list4{
    background-image: url("/Assets AR ART/AR_ART_images/bg-list4.png");
}
.bg-list5{
    background-image: url("/Assets AR ART/AR_ART_images/bg-list5.png");
}
.title{
    margin-top: 20%;
}